.Header{
    padding-top: 100px;
    padding: 15px;
    min-height: 10vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}


.Projects{
    align-items: flex-start;
    justify-content: flex-start;
    width: 500px;
    top: 20%;
    padding-left: 15px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgb(211, 211, 211);
}

.Project{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.Button{
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(175, 180, 195);
    border-radius: 10px;
    box-shadow: 0px 2px 2px lightgray;
    transition: ease background-color 250;
}