.pic {
  position: absolute;
  width: auto;
  left: 42px;
  right: 0px;
  top: 14px;
  bottom: 0%;
}

.paper {
  position: absolute;
  width: 19%;
  height: 320px;
  right: 0%;
  top: 14px;
  left: 10px;
  text-align: center;
}
