.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

<<<<<<< HEAD
.right{
  width:25%;
  float:right;
  height:100vh;
  background:lightblue;
}

.bottomleft{
  float:left;
  float:bottom;
}
=======
.right {
  width: 25%;
  float: right;
  height: 100vh;
  background: lightblue;
}

.image {
  width: 30%;
  float: left;
  height: 100px;
}
>>>>>>> dd96a8de4780b6ab87cd898ab6b3e7fcb32bcc8f
